@media screen and (max-width:640px) {
  body{
    width: 100%;
    
  }


   .carousel-inner{
    top: -100px;
    left: 0;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    
   }

  }